@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="container">
        <div class="results">
            <h1>Movies</h1>
            @foreach (Movie m in Model.Movies)
            {
                <div class="movie-entry">
                    @if (m.Release_Year != null)
                    {
                        <h2>@m.Title (@m.Release_Year)</h2>
                    }
                    else
                    {
                        <h2>@m.Title</h2>
                    }
                    @if (m.MPAA_Rating != null)
                    {
                        <div class="mpaa-rating">Rated @m.MPAA_Rating</div>
                    }
                    @if (m.Major_Genre != null)
                    {
                        <div class="major-genre">@m.Major_Genre</div>
                    }
                    @if (m.Director != null)
                    {
                        <div class="director">Directed by @m.Director</div>
                    }
                    <div class="ratings">
                        @if (m.IMDB_Rating != null)
                        {
                            <div>
                                <div class="imdb-rating">IMDB <h3>@m.IMDB_Rating</h3></div>
                            </div>
                        }
                        @if (m.Rotten_Tomatoes_Rating != null)
                        {
                            <div>
                                <div class="rotten-tomatoes-rating">Rotten Tomatoes <h3>@m.Rotten_Tomatoes_Rating</h3></div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <form method="post" id="search-form">
            <input type="text" name="search" id="search" value="@Model.search" />

            <label>
                <input type="checkbox" value="G" name="mpaa" checked="@Model.mpaa.Contains("G")" />
                Rated G
            </label>
            <label>
                <input type="checkbox" value="PG" name="mpaa" checked="@Model.mpaa.Contains("PG")" />
                Rated PG
            </label>
            <label>
                <input type="checkbox" value="PG-13" name="mpaa" checked="@Model.mpaa.Contains("PG-13")" />
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" value="R" name="mpaa" checked="@Model.mpaa.Contains("R")" />
                Rated R
            </label>
            <label>
                <input type="checkbox" value="NC-17" name="mpaa" checked="@Model.mpaa.Contains("NC-17")" />
                Rated NC-17
            </label>

            <label>
                Minimum IMDB Rating:
                <input type="number" min="0" max="10" step=".1" name="minIMDB" id="minIMDB" value="@Model.minIMDB" />
            </label>

            <input type="submit" value="Search" />
        </form>
    </div>